html, body, #app {
  margin: 0;
  height: 100%;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
}

#uva {
  background-image: url("uva.png");
  background-repeat: no-repeat;
  width: 100%;
}